body{
    background: rgb(43, 43, 43);
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    color: white;
    padding: 70px 0 20px 0;
    margin: 0;
    text-shadow: 2px 2px 1px #000;
}

form{
    display: block;
    margin: 10px auto;
    background: rgb(43, 43, 43);
    border-bottom: 1px solid rgb(53, 53, 53);
    box-shadow: 0 5px 10px -1px rgba(9, 0, 19, 0.63);
}

/*fields*/
.field{
    position: relative;
    margin: 0 auto 35px auto;
    width: 400px;
    clear: both;
}

.field #options{
    display: block;
    font-size: 13px;
    color: white;
    padding: 0;
}
#terms{
    color:white;
    font-size: 13px;
    color: white;
    padding: 0;
}
.field.submit {
    text-align: center;
    padding: 20px 0 20px 0;
}

/*text inputs*/
input[type="text"]{
    display: block;
    padding: 10px 6px;
    border: 1px solid rgb(109, 109, 109);
    border-top-color: #5F5F5F;
    border-bottom-color: #FFFFFF;
    width: 378px;
    margin: 5px 0;
    color: #464646;
    background: rgb(244, 244, 244);
    border-radius: 6px;
    box-shadow: inset 4px 4px 7px 0 rgba(17, 17, 17, 0.82);
    outline: none;
}

/*checkbox*/
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0;
    cursor: pointer;
    position: relative;
}

